# R STUDIO - RECURSIVE
.Rproj.user/**
.Rhistory
.RData
.Ruserdata

# PARENTS - RECURSIVE  
../**
../../**

# SPECIFIC
OneDrive/UniversityofExeter
PhD/
intuitive beh/**
.DS_Store
.gitignore
custom.css


!pre-reg materials/

.Rproj.user
.httr-oauth
.quarto

