# Ignore everything
*

# Unignore the .gitignore file itself
!.gitignore/

# Unignore the folder
!data_cleaning_and_analysis/

# Unignore the specific HTML file
!data_cleaning_and_analysis/beh_s2_m-r.html

# Unignore pre-registration materials
!pre-registration_materials/
!pre-registration_materials/**

# Ignore typical RStudio clutter
.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto
