/* Base document font */
body {
  font-family: Georgia, serif;
  color: black !important;
  font-size: 11pt;
  line-height: 2;
}


p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Base document font */
body {
  font-family: Georgia, serif;
  font-size: 11pt;
  line-height: 2;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}

table {
  font-family: Georgia, serif;
  font-size: 10pt;
}

th, td {
  font-size: 11pt !important;
}

caption {
  font-size: 11pt !important;
}
/* APA Level 1: Centered, Bold */
h1 {
  font-family: Georgia, serif !important;
  color: black !important;
  font-color: black !important;
  text-align: center !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-size: 11pt !important;
  margin-top: 2em !important;
  margin-bottom: 1em !important;
  line-height: 2 !important;
}

/* APA Level 2: Flush left, Bold */
h2 {
  font-family: Georgia, serif !important;
  color: black !important;
  text-align: left !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-size: 11pt !important;
  margin-top: 2em !important;
  margin-bottom: 1em !important;
  line-height: 2 !important;
}

/* APA Level 3: Flush left, Bold Italic */
h3 {
  font-family: Georgia, serif !important;
  color: black !important;
  text-align: left !important;
  font-weight: bold !important;
  font-style: italic !important;
  font-size: 11pt !important;
  margin-top: 2em !important;
  margin-bottom: 1em !important;
  line-height: 2 !important;
}

/* APA Level 4: Indented, Bold, Ending with a period */
h4 {
  font-family: Georgia, serif !important;
  color: black !important;
  font-size: 11pt !important;
  font-weight: bold !important;
  font-style: normal !important;
  margin-left: 0.5in !important;
  text-indent: -0.5in !important;
  line-height: 2 !important;
}

/* APA Level 5: Indented, Bold Italic, Ending with a period */
h5 {
  font-family: Georgia, serif !important;
  color: black !important;
  font-size: 11pt !important;
  font-weight: bold !important;
  font-style: italic !important;
  margin-left: 0.5in !important;
  text-indent: -0.5in !important;
  line-height: 2 !important;
}

/* Global APA double spacing */
html body {
  line-height: 2 !important;
}

/* Paragraphs */
p {
  line-height: 2 !important;
  margin-top: 0 !important;
  margin-bottom: 1em !important; /* APA paragraph spacing */
}

/* Headings (APA requires double spacing before/after) */
h1, h2, h3, h4, h5 {
  line-height: 2 !important;
  margin-top: 2em !important;
  margin-bottom: 1em !important;
}

/* Lists (Pandoc overrides these unless forced) */
ul, ol, li {
  line-height: 2 !important;
}

/* Table notes, captions, figure captions */
caption, .table-note, .footnote, .apa-figure-title {
  line-height: 2 !important;
}

/* Make the whole document background white */
html, body {
  background-color: white !important;
}


/* Reset everything inside sjPlot tables */
table.sjtable,
table.sjtable * {
  all: unset !important;
  display: revert !important;
  border-collapse: separate !important;
  font-family: Georgia, serif !important;
  font-size: 11pt !important;
  line-height: 1.8 !important;
}

/* Reapply table structure */
table.sjtable {
  display: table !important;
  width: 100% !important;
  border-collapse: separate !important;
}

/* Reapply cell structure */
table.sjtable td,
table.sjtable th {
  display: table-cell !important;
  padding: 6px 10px !important;
}

/* APA header rule */
table.sjtable thead tr {
  border-bottom: 2px solid black !important;
}

/* APA bottom rule */
table.sjtable tbody tr:last-child {
  border-bottom: 2px solid black !important;
}

/* Remove sjPlot section separators */
table.sjtable .col2 {
  border-bottom: none !important;
}

/* Remove footer borders */
table.sjtable tfoot tr {
  border: none !important;
}

